include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include CODE_OF_CONDUCT.md
include SECURITY.md
include AUTHORS
include CITATION.cff
include QUIZ_SYNTAX_GUIDE.md
include QUICK_START.md
recursive-include examples *.txt *.md
recursive-include docs *
